@use "sass:map";

$breakpoints: (
  mobile: 620px,
  small: 880px,
  medium: 1280px,
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media (max-width: $size) {
    @content;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 0.1rem dashed red;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

main {
  width: 100%;
}

h1 {
  font-family: "Pacifico", cursive;
}

i,
p,
li,
span {
  font-family: "Maven Pro", sans-serif;
}

button {
  font-weight: bold;
}

ul {
  width: 75vw;
  display: grid;
  padding-top: 2rem;
  place-items: center;
  border-top: 0.1rem solid lightgrey;
}

main {
  gap: 2rem;
  display: grid;
  align-items: center;
  place-items: center;
  justify-content: center;
}

form {
  width: 75vw;
  max-width: 60rem;
  gap: 2rem;
  display: flex;
}

input {
  width: 100%;
  justify-self: flex-start;
}

/*===========
  Overview
============*/
.tasks {
  display: grid;
  align-items: center;
}

li {
  margin: 1rem 0;
  height: 6rem;
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgba(0, 140, 255, 0.1);
}

.task-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.task-container > p {
  margin-right: 1rem;
}

.task-info {
  width: 100%;
  position: relative;
}

.task {
  font-weight: bold;
}

.task-input {
  width: inherit;
  position: absolute;
  padding: 0.5rem;
  top: -0.5rem;
  left: -0.5rem;
  font-size: 1.6rem;
}

.hide {
  visibility: hidden;
}

.task-icons {
  font-size: 1.8rem;
  cursor: pointer;
  margin-left: auto;

  display: flex;
  gap: 2rem;
}

hr {
  width: 75vw;
  outline: 0.1rem solid lightgrey;
  border: none;
}
